.mt_right_img{
    width: 29px;
	height: 24px;
}

.top_img{
    height:56px;
    position: absolute;
    z-index: -1;
}
.top_title_select1{
    color: rgb(25, 118, 211);font-size: 14px;text-align: left;padding-top: 15px;padding-left: 15px;
}
.top_title_select2{
    color:#47d3ba;font-size: 14px;text-align: left;padding-top: 15px;padding-left: 15px;
}
.top_title_select3{
    color: #fbb01c;font-size: 14px;text-align: left;padding-top: 15px;padding-left: 15px;
}
.top_title_noselect{
    color: rgb(255, 255, 255);font-size: 14px;text-align: left;padding-top: 15px;padding-left: 15px;
}
.block_div_style{
    position: relative;height:56px;
}

.twoLevel_left_div{
    width: 25%;display: flex;height: 43px;background: #ffffff;border-right: 1px solid #f3f3f3;margin-top: 1px;
}