.pjlzStaticTitile{
    
    margin-left: 20px;
    border-left: 2px solid #3098fb;
    padding-left: 10px;
    font-size: 14px;
    color: #333333;
    height: 17px;
    line-height: 17px;

}

.pjlzStaticTimeSelect{
    margin-left:10px;
    font-size: 14px;
    height: 17px;
    line-height: 17px;
    background: #3098fb;
    color: #ffffff;
    border-radius: 5px;
    padding: 2px 4px;
    border: 1px solid #3098fb;
}
.pjlzStaticTimenoSelect{
    margin-left:10px;
    font-size: 14px;
    height: 17px;
    line-height: 17px;
    background: #ffffff;
    color: #333333;
    border-radius: 5px;
    padding: 2px 4px;
    border: 1px solid #f3f3f3;
}