
.active{
    margin-top: 32px;
    height: 25px;
    width:25px;
    background-size:14px;
    background-image: url("../../assets/img/choice1.png");
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}
input[type="checkbox"]:checked + .active{
    background-image: url("../../assets/img/choice2.png");
}