
.tabimg{
    height: 18px;
    margin-top:13px;
    margin-left:9px;
}
.van-tab--active {
    color:#3097FB;
    font-size: 18px;
}
.van-tabs__line{
    background-color:#3097FB;
    width: 61px;
}
.van-tab{
    font-size: 15px;
}
.vantabicon{
    height: 17px;vertical-align: middle;
    margin-right:4px;
}
.vantlist_block{
    color: rgb(255, 255, 255);background: rgb(60, 161, 236);width: 40px;height: 40px;border-radius: 9px;margin-left: 21px;text-align: center;
}
.timeline-circle{
    width:4px;height:4px;left:-31px;
}
.timeline-item{
    margin:0px 0 0 28px;
    padding-bottom: 3px;
}
.van-step__circle{
    background-color:#3ca1ec;
}
.van-step__line{
    background-color:#3ca1ec;
}
