.qklistDealiContent{ 
    margin-top: 22px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 94%;
    background: #ffffff;
    /* height: 160px; */
  }