.mt_xmlb_deali_font_style{
    font-size:15px;
    margin-left: 2px;
}
.mt_xmlb_deali_content_font_style{
    font-size:15px;
    margin-top: 8px;
    margin-left: 1PX;
}
.dateSelect{
  
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;

}
.sx{

        width: 4px;
        height: 20px;
        background-color: #3ca1ec;
        border-radius: 2px;
        line-height: 60px;
        margin-left: 15px;

}
.tj_z{

	font-family: MicrosoftYaHei;
	font-weight: normal;
	font-stretch: normal;
	line-height: 48px;
	letter-spacing: 0px;
    color: #333333;
    margin-left: 10px;
    font-size: 14px;
}
.timeYear{
    font-family: MicrosoftYaHei-Bold;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 48px;
	letter-spacing: 0px;
    color: #3ca1ec;
    margin-left: 10px;
}
.xl{
    width: 13px;
    height: 13px;
    margin-top: 5px;
}