
.mescroll{
    position: fixed;
    top: 110px;
    bottom: 0px;
    height: auto;
}
.pjkMessageListDiv{
    padding-top: 7px;padding-bottom: 7px;box-shadow: rgb(204, 204, 204) 0px 0px 2px;position: relative;font-size: 15px;background: rgb(255, 255, 255);border-radius: 10px;margin-bottom: 9px;
}
.pjkMessagetitileImg{
    height:24px;
    margin-left: 14px;
}
.pjkMessagetitileDiv{
    font-size:13px;
    color: #666666;
    margin-left: 10px;
    line-height: 25px;
    height: 25px;
}
.pjkMessageContentDiv{
    margin-left: 13px;
    margin-right: 13px;
    font-size: 13px;
    color: #333333;
    margin-top:4px;
}

.pjkMessageFkDiv{
    display: flex;position: absolute;right: 24px;border: 1px solid #3098fb;border-radius: 17px;padding: 2px 8px;
}

.pjkMessageFkDivimg{
   height: 15px;
}
.pjkMessageFkDivtext{
    font-size: 13px;
    color: #3098fb;
    margin-left: 4px;
}

.pjkMessageBottomImg{
    height: 14px;
    margin: auto 0;
    margin-left: 15px;
}

.pjkMessageBottomDiv{
    color: #666666;
font-size: 12px;
margin-left: 8px;
}
.pjkMessageRedPoint{
    background: red;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 20px;
    top: 10px;
    border-radius: 80px;

}





    






